<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/Users/yuchen/Documents/MasteringMCU/Workspace/Software&amp;Toolchain/gnu-mcu-eclipse/openocd/0.10.0-5-20171110-1117/bin/openocd"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-f board/st_nucleo_f4.cfg"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="/Users/yuchen/Documents/MasteringMCU/Workspace/Software&amp;Toolchain/gnu-mcu-eclipse/openocd/0.10.0-5-20171110-1117/scripts"/>
</launchConfiguration>
